<a href="https://colab.research.google.com/github/Addakularanjith123/RanjithPython/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

a="hi"
b="ranjith"
a=3
b=4
print(a+b)

7

In [ ]:
#a=int(input())
#b=int(input())
a=9
b=9
if a>b:
  print(a,"a is big")
else:
  print(b,"is greater")

9 is greater

In [ ]:
b="ranjith"
print(b.isupper())
print(b)

False
ranjith

In [ ]:
a="""3"""

print(type(a))

<class 'str'>

In [ ]:
i = 1
while True:
  i+=1
  if i == 4:
    continue
    print(i,end=" ")
  elif i == 6:
    pass
    print(i,end=" ")
  elif i == 9:
    break
  print(i,end=" ")

2 3 5 6 6 7 8

In [ ]:

def pattern():
  for i in range(5):
    for j in range(i+1):
      print("#",end = " ")
    print()

l = ["Purple", [2,3,4,5], "Black", (35,36,37,38,39), {0,"Turtle",1,2,"Parrot"},{1:"King",2:"Queen"}]
print(l)
print(type(l))

pattern()#difining the pattern

a = len(l)
print("Length of list : ", a)

pattern()#just calling the pattern

for i in l: # a = 6
  print(i,"=" , len(i))

pattern()

['Purple', [2, 3, 4, 5], 'Black', (35, 36, 37, 38, 39), {0, 1, 2, 'Parrot', 'Turtle'}, {1: 'King', 2: 'Queen'}]
<class 'list'>
#
# #
# # #
# # # #
# # # # #
Length of list :  6
#
# #
# # #
# # # #
# # # # #
Purple = 6
[2, 3, 4, 5] = 4
Black = 5
(35, 36, 37, 38, 39) = 5
{0, 1, 2, 'Parrot', 'Turtle'} = 5
{1: 'King', 2: 'Queen'} = 2
#
# #
# # #
# # # #
# # # # #

In [ ]:
3#l=["Ranjith","kuMAR"]
#L=["ranjith","kumar"]
L=["RANJIT","KUMAR"]
for i in L:
  #print(i)
  print(i.lower(),end=" ")

ranjit kumar

In [ ]:
n=8     #int(input())
for i in range(0,n):
  for j in range (i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [ ]:
for i in range(5):
    for j in range(i+1):
      print("#",end = " ")
    print()

#
# #
# # #
# # # #
# # # # #

In [ ]:
for i in range(5):
    for j in range(i+1):
      print("* ",end = " ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [ ]:
n=9
for i in range(0,5):
  for j in range(i+1):
    print("@",end=" ")
  print("\r")

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [ ]:
def ranjith(n):
  #k=n-1
  for i in range(n):
    for j in range(i+1):
      print(end=" ")
        print("*",end=" ")
    print(" ")
#n=5
ranjith(5)

In [ ]:
l=list("1234")
l[0]=l[1]=5
print(l)

In [ ]:
l=list("1234")
l[0]=22
print(l)

In [ ]:
l=("1234",20,509.66,["ranjith"],"value":hello)
#l[0]=22
print(l)

SyntaxError: invalid syntax (<ipython-input-1-665e7399ac11>, line 1)

In [ ]:
s={10,20,[30,40]}
r=s[2]
print(r)

In [ ]:
a=35
print("%f"%a)

In [ ]:
x=20
def add():
  x=3
  x=x+3
  print(x)
add()
print(x)

In [ ]:
Tuple=(64,65,'D')
ax=max(Tuple)
print(ax)

In [ ]:
Dict={1:2,3:4}
for i,j in Dict.items():
  print(i,j,sept=":")

In [ ]:
#factors of a given number using while loop
n=int(input("enter n value"))
print("the numbers are")
i=1
while(i<=n):
  if(n%i)==0:
    print(i,end=" ")
  i=i+1

In [ ]:
#factors of a given number using for loop
n=int(input("enter n value"))
print("the factors are")
for i in range(1,n+1):
  if n%i==0:
    print(i)

In [ ]:
#factorial of a given number using while loop
n=int(input("enter n value"))
print("the factorial of the given numbers is:")
fact=1
i=1
while(i<=n):
  fact=fact*i
  i=i+1
print(fact)

In [ ]:
#factorial of a given number using for loop
n=int(input("enter n value"))
print("the factorial of the given number is")
fact=1
i=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

In [ ]:
#given no is prime or not
n=int(input("enter n value"))
i=1
c=0
while(i<=n):
  if (n%i)==0:
    c=c+1
  i=i+1
if(c==2):
    print(n,"is prime")
else:
    print(n,"is not a prime")

In [ ]:
#prime or not using for
n=int(input("enter n value"))
c=0
for i in range(1,n+1):
  if(n%i)==0:
    c=c+1
if(c==2):
  print(n,"is prime")
else:
  print(n,"is not prime")

In [ ]:
#prime from 1 to n using while loop
n=int(input("enter n value"))
i=1
while(i<=n):
  c=0
  j=1
  while(j<=i):
    if(i%j)==0:
      c=c+1
    j=j+1
  if(c==2):
    print(i)
  i=i+1

In [ ]:
#fibonacci series using for loop
n=int(input("enter n value"))
a=0
b=1
print("the fibonacci series is")
print(a)
print(b)
for i in range(1,n+1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

In [ ]:
#fibonacci series using whileloop
n=int(input("enter n value"))
a=0
b=1
print(a)
print(b)
i=1
while(i<=n):#while(n>=i):
  c=a+b
  print(c,end=" ")
  a=b
  b=c
  i=i+1
  #n=n-1

In [ ]:
#prime numbers from 1 to n using forloop
n=int(input("enter n value"))
print("the prime numbers are")
for i in range(1,n+1):
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c=c+1
    if(c==2):
        print(i)

In [ ]:
#prime numbers from 1 to n using forloop
n=int(input("enter n value"))
print("the prime numbers are")
for i in range(1,n+1):
    c=0
    for j in range(1,i+1):
        if(i%j==0):
            c=c+1
    if(c==2):
        print(i,end='  ')

In [ ]:
#prime from m to n
m=int(input("enter starting value"))
n=int(input("enter ending value"))
for i in range(m,n+1):
  c=0
  for j in range(1,i+1):
    if(i%j)==0:
      c=c+1
  if(c==2):
    print(i)

enter starting value2
enter ending value10
2
3
5
7

In [ ]:
#check weather prime or not using whileloop
n=int(input("enter n value"))
i=1
c=0
while(i<=n):
    if(n%i)==0:
        c=c+1
    i=i+1
if(c==2):
    print("the number",n,"is prime")
else:
    print("the number",n,"is not prime")

In [ ]:
#prime from m to n
m=int(input("enter n value"))
n=int(input("enter ending value"))
for i in range(m,n+1):
  c=0
  for j in range(1,i+1):
    if(i%j)==0:
      c=c+1
  if(c==2):
    print(i)

In [ ]:
#check weather prime or not using whileloop
n=int(input("enter n value"))
i=1
c=0
while(n>=i):
    if(n%i)==0:
        c=c+1
    i=i+1
if(c==2):
    print("the number",n,"is prime")
else:
    print("the number",n,"is not prime")

In [ ]:
#prime from m to n
m=int(input("enter n value"))
n=int(input("enter ending value"))
for i in range(m,n+1):
  c=0
  for j in range(1,i+1):
    if(i%j)==0:
      c=c+1
  if(c==2):
    print(i)

In [ ]:
#check weather prime or not using for loop
n=int(input("enter n value"))
c=0
for i in range(1,n+1):
    if(n%i)==0:
        c=c+1
if(c==2):
    print("the number",n,"is prime")
else:
    print("the number",n,"is not prime")

In [ ]:
# 1 to n primes using while
n=int(input("enter n value"))
i=1
while(n>=i):
    c=0
    j=1
    while(i>=j):
        if(i%j)==0:
            c=c+1
        j=j+1
    if(c==2):
      print(i)
    i=i+1

In [ ]:
# between range(m to n) primes using while
i=int(input("enter starting range"))
n=int(input("enter ending range"))
while(n>=i):
    c=0
    j=1
    while(i>=j):
        if(i%j)==0:
            c=c+1
        j=j+1
    if(c==2):
      print(i,end=" ")
    i=i+1

In [ ]:
#between range (n to m) prime using for
m=int(input("enter the starting range"))
n=int(input("enter the ending range"))
print("the prime numbers from",m,"to",n,"are:")
for i in range(m,n+1):
    c=0
    for j in range(1,i+1):
        if(i%j)==0:
            c=c+1
    if(c==2):
        print(i,end=" ")

In [ ]:
#fibonacci series using whileloop
n=int(input("enter n value"))
a=0
b=1
print(a)
print(b)
i=1
while(i<=n):#while(n>=i):
  c=a+b
  print(c,end=" ")
  a=b
  b=c
  i=i+1
  #n=n-1

In [ ]:
#fibonacci series between range(m to n) using while loop
m=int(input("enter starting range"))
n=int(input("enter end range"))
print("the fibonacci series is")
a=0
b=1
c=0
while(c<=n):
  if(c>=m):
    print(c)
  a=b
  b=c
  c=a+b

In [ ]:
#factorial of the given number using for loop
n=int(input("enter n value"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

In [ ]:
#factorial of the given number using while loop between range
#factorial from m to n using while loop
m=int(input("enter m value"))
n=int(input("enter n value"))
print("the factorial of the numbers from",m,"to",n,"are:")
#i=1
while(m<=n):
  fact=1
  j=1
  while(j<=m):
    fact=fact*j
    j=j+1
  print(fact,end=" ")
  m=m+1

In [ ]:
#factorial of the given number using while loop
m=int(input("enter m value"))
n=int(input("enter n value"))
#fact=1
i=1
j=1
while(n>=m):
  fact=1
  i=i+1
  while(j<=i):
    fact=fact*j
    j=j+1
 #
  #m=m+1
print(fact)

In [ ]:

#factorial between the range(m to n) using for loop
m=int(input("enter starting range"))
n=int(input("enter ending range"))
for i in range(m,n+1):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  print(fact,end=" ")

In [ ]:
#reverse of the number using for loop
n=int(input("enter n value"))
sum=0
for i in range(1,n+1):
  r=n%10
  sum=10*sum+r
  n=n//10
print(sum)

In [ ]:
12# Python program to reverse a number using for loop

# take inputs
num =str(input("enter number"))

# calculate reverse of number
reverse = ''
for i in range(len(num), 0, -1):
   reverse += num[i-1]

# print reverse of number
print('The reverse number is =', reverse)

In [ ]:
n=int(input("enter n value"))
temp=n
sum=0
while(n>0):
  r=n%10
  sum=10*sum+r
  n=n//10
if(temp==sum):
  print("the number is palindrom",sum)
else:
  print("the number is not palindrom",sum)

In [ ]:
n=int(input("enter n value"))
temp=n
sum=0
for i in range(1,n):
  r=n%10
  sum=10*sum+r
  n=n//10
if(temp==sum):
  print("it is palindrom",sum)
else:
  print("it is not palindrom",sum)

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print(temp,"The number is a palindrome!")
else:
    print(temp,"The number isn't a palindrome!")

In [ ]:
# Palindrome number in python using for loop
#it is true for the odd number of digits only
# take inputs
num = input('Enter the number: ')

# check number is palindrome or not
i = 0
length = len(num)
if(len(num) % 2 == 0):
    length = len(num) + 1

for i in range(length):
   if num[i] != num[-1-i]:
      print(num,'is not a Palindrome')
      break
else:
   print(num,'is a Palindrome')

In [ ]:
def sum(a,b):
  print(a+b,"this is the sum")
a=int(input("enter a value"))
b=int(input("enter b value"))
sum(a,b)

In [ ]:
def fact(n):
  #i=1
  fact=1
  for i in range(1,n+1):
    fact*(i+1)
  return fact
n=int(input("enter n value"))
fact(n)
print("the factorial is",fact(n))

In [ ]:
n=int(input("enter n value"))
#print("the reverse of the number is")
sum=0
while(n>0):
  r=n%10
  sum=sum*10+r
  n=n//10
print("the reverse of the number is",sum)

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print(temp,"The number is a palindrome!")
else:
    print(temp,"The number isn't a palindrome!")

In [ ]:
n=int(input("enter n value"))
#print("the reverse of the number is")
t=n
sum=0
while(n>0):
  r=n%10
  sum=sum*10+r
  n=n//10
if(t==sum):
  print(t,"is palindrom")
else:
  print(t,"is not palindrom")

In [ ]:
n=int(input("enter n value"))
#print("the reverse of the number is")
t=n
sum=0
while(n>0):
  r=n%10
  sum=sum*10+r
  n=n//10
if(t==sum):
  print(t,"is palindrom")
else:
  print(t,"is not palindrom")

In [ ]:
%%time
#Used to calculate total operation time
list1 = list(range(1,1000000))
list2 = list(range(2,1000001))
list3 = []
for i in range(len(list1)):
    list3.append(list1[i]+list2[i])

In [ ]:
%%time
#Used to calculate total operation time
#Importing Numpy
import numpy as np
#Creating a numpy array of 1 million numbers
a = np.arange(1,1000000)
b = np.arange(2,1000001)
c = a+b

In [ ]:
#creating a list of lists of 5 mpg, horsepower and acceleration values
car_attributes = [[18, 15, 18, 16, 17],[130, 165, 150, 150, 140],[307, 350, 318, 304, 302]]
#converting dtype
car_attributes_arr = np.array(car_attributes, dtype = 'float')
print(car_attributes_arr)
print(car_attributes_arr.dtype)

In [ ]:
n=int(input("enter n value"))
i=1
while(n>=i):
    c=0
    j=1
    while(i>=j):
        if(i%j)==0:
            c=c+1
        j=j+1
    i=i+1
if(c==2):
  print(i)

In [ ]:
n=int(input("enter n value"))
i=1
while(n>=i):
    c=0
    j=1
    while(i>=j):
        if(i%j)==0:
            c=c+1
        j=j+1
    if(c==2):
      print(i)
    i=i+1

In [ ]:
def Blooms(s):
  s1=("define","find","hellow")
  s2=("under","classify","ranjith")
  s3=("how","are","you")
  s4=s.split()
  print(s4)
  for i in s4:
    if i in s1:
      print("print it is there")
      break
    if i in s2:
      print("it is there")
      break
    if i in s3:
      print("it is there")
      break
    else:
      print("it is not there")
  count=0
  for i in s1:
    for j in s4:
      if i==j:
        count=1
        break
  if count==1:
    print("it is under sentance 1")
  count1=0
  for i in s2:
    for j in s4:
      if i==j:
        count1=1
        break
  if count1==1:
    print("it is under sentance 2")
  count2=0
  for i in s3:
    for j in s4:
      if i==j:
        count2=1
        break
  if count2==1:
    print("it is under sentance 3")
s=input("enter input")
Blooms(s)

In [ ]:
# Python code to illustrate read() mode
file = open("file.txt", "r")
print (file.read())

In [ ]:
#@title Default title text
import pandas as pd
from sklearn import preprocessing
dataset=pd.read_csv('Age-salary.csv')
features=dataset.iloc[:,[2,3]].values
minmaxscaler_as=preprocessing.MinMaxScaler(feature_range=(0,2))
features_scale=minmaxscaler_as.fit_transform(features)
print(dataset.dtypes)
print(features_scale)
print(dataset.head(20))

# New Section

In [ ]:
import pandas as pd
from sklearn import preprocessing
dataset = pd.read_csv('/content/Age-salary.csv')
features = dataset.iloc[:,[2]].values #represents age column
binarizer2 = preprocessing.Binarizer()
# above the value 33 all will be set to 1
binarizer_scaled2 = binarizer2.fit_transform(features)
dataset['bin_col']=binarizer_scaled2
print(dataset.head())

# New Section

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_train = pd.read_csv('SalaryData_Train.csv')
print(df_train.head())
plt.scatter(df_train['YearsExperience'],df_train['Salary'])
plt.xlabel('Years of Experience')
plt.ylabel('Salary in thousands')
plt.title('Salary V/S Years of Experience')
plt.show()

feature = df_train.iloc[:,:-1].values
labels = df_train.iloc[:,1].values #print(feature)
#print(labels)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature, labels, test_size = 0.3, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)
plt.scatter(X_train,y_train,color='r')
plt.plot(X_train,reg.predict(X_train),color='b')
plt.show()

# New Section

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df_train = pd.read_csv('SalaryData_Train.csv')
print(df_train.head())
plt.scatter(df_train['YearsExperience'],df_train['Salary'])
plt.xlabel('Years of Experience')
plt.ylabel('Salary in thousands')
plt.title('Salary V/S Years of Experience')
plt.show()

feature = df_train.iloc[:,:-1].values
labels = df_train.iloc[:,1].values
#print(feature)
#print(labels)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature, labels, test_size = 0.3, random_state=0)

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)
plt.scatter(X_train,y_train,color='r')
plt.plot(X_train,reg.predict(X_train),color='b')
plt.show()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
x=np.arange(0,3*np.pi,0.1)
x=np.linspace(0,2,10)
y=np.sin(x)
plt.plot(x,y)
plt.show()
print("sine=",np.sin(x))
#plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
x=np.linspace(0,10,1)
y=np.sin(x)
plt.plot(x,y)
print("sine=",np.sin(x))
plt.show()

In [ ]:
n=int(input())
sum=0
if(n>0):
  for i in range(1,n+1~):
    r=n%10
    sum=sum+r
    n=n/10
print(sum)

In [ ]:
n=int(input("enter n value"))
#print("the reverse of the number is")
t=n
sum=0
while(n>0):
  r=n%10
  sum=sum*10+r
  n=n//10
if(t==sum):
  print(t,"is palindrom")
else:
  print(t,"is not palindrom")

In [ ]:
#print("enter n value")
n=int(input("enter n value"))
res=n
r
rev=0
while(n>0):
    r=n%10
    rev=10*rev+r
    n=n//10
if(res==rev):
    print("palindrom")
else:
    print("not prime number")

In [ ]:
Print("

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-1-f13d49098e2a>, line 1)

In [ ]:
N=int(input("enter n value"))
C=0
if (N%2)==0:
  C=C+1
if C==2:
  print("it is prime")
else:
  print("it is not")

enter n value5
it is not

In [ ]:
print("enter n value")
#F=0
n=int(input(""))
F=0
temp=n
while(n>0):
  r=n%10
  res=F*10+r
  n=n//10
print(res)
if temp==res:
  print("it is prime")
else:
  print("not")

enter n value
121
1
not

In [ ]:
#print("enter n value")
n=int(input("enter n value"))
res=n
r
rev=0
while(n>0):
    r=n%10
    rev=10*rev+r
    n=n//10
if(res==rev):
    print("palindrom")
else:
    print("not prime number")